@use "../abstracts/variables" as *;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  font-family: "League Spartan", Arial, Helvetica, sans-serif;
  // place-items: center;
  min-height: 100vh;
}

.all-jobs {
  margin: 0 auto;
  width: 90vw;
  max-width: 95rem;
  // text-align: center;
}
