@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  font-family: "League Spartan", Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

.all-jobs {
  margin: 0 auto;
  width: 90vw;
  max-width: 95rem;
}

/***************
 Project Styles
***************/
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
  text-transform: capitalize;
  margin: 1rem 0;
  display: inline-block;
  white-space: nowrap;
}
a:hover {
  text-decoration: underline;
  text-underline-offset: 0.25rem;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

p {
  line-height: 1.5;
}

@media (max-width: 45rem) {
  h1 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1rem;
  }
  p {
    font-size: 0.9rem;
  }
}
.btn {
  cursor: pointer;
  padding: 0.5rem;
  border: none;
  outline: none;
  font-size: 1rem;
  color: #303b5a;
  font-weight: 700;
  text-transform: capitalize;
  border-radius: 0 0.25rem 0.25rem 0;
  letter-spacing: 0.05rem;
  background: none;
  transition: all 0.3s ease-in-out;
}
.btn.btn-primary {
  background-color: #303b5a;
}
.btn.btn-secondary {
  background-color: hsl(166, 100%, 37%);
}
.btn.btn-accent {
  background-color: #ce6c4e;
}
.btn.btn-accent-alt {
  background-color: #7857ff;
}
.btn:hover {
  background-color: hsl(180, 31%, 95%);
  opacity: 0.8;
}

.hero {
  width: 100vw;
  height: 10rem;
  background-color: hsl(180, 29%, 50%);
  background-image: url("../images/bg-header-mobile.svg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  margin-bottom: 5rem;
}

.all-jobs {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  text-transform: capitalize;
}

.job-wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 5rem;
  justify-content: space-between;
  margin-top: 5rem;
}
.job-wrapper .single-job {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0px 10px 30px 0px hsla(180, 29%, 50%, 0.4);
}
.job-wrapper .single-job.featured {
  border-left: 5px solid hsl(180, 29%, 50%);
}
.job-wrapper .job {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}
.job-wrapper .logo {
  margin-top: -4rem;
}
@media (min-width: 45rem) {
  .job-wrapper .logo {
    margin: 0;
  }
}
.job-wrapper .features {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  justify-content: _;
}
.job-wrapper .features .updates {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
}
.job-wrapper .features .company {
  color: hsl(180, 29%, 50%);
  font-weight: 700;
  margin-right: 1rem;
  background-color: none;
  background: none;
}
.job-wrapper .features .new,
.job-wrapper .features .featured {
  padding: 0.5rem 0.75rem;
  border-radius: 1rem;
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  background-color: #7857ff;
}
.job-wrapper .features .new {
  background-color: hsl(180, 29%, 50%);
}
.job-wrapper .features .featured {
  background-color: hsl(180, 14%, 20%);
}
.job-wrapper .features .title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #303b5a;
}
.job-wrapper .features .info {
  display: flex;
  align-items: center;
  flex-direction: _;
  gap: 1rem;
  justify-content: space-between;
  color: hsl(180, 8%, 52%);
}

.job-filter {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  padding: 2rem 0;
  margin: 1rem 0;
  border-top: 2px solid rgba(116, 108, 113, 0.5);
  flex-wrap: wrap;
}
.job-filter > * {
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
  background-color: hsl(180, 31%, 95%);
  color: hsl(180, 29%, 50%);
  font-weight: 700;
}

@media (min-width: 45rem) {
  .hero {
    background-image: url("../images/bg-header-desktop.svg");
  }
  .job-wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: _;
    justify-content: _;
  }
  .job-wrapper .single-job {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: _;
    justify-content: _;
  }
  .job-wrapper .job {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: _;
    justify-content: _;
  }
  .job-wrapper .features {
    display: flex;
    align-items: _;
    flex-direction: _;
    gap: 0.5rem;
    justify-content: _;
  }
  .job-filter {
    margin: 0;
    border: none;
  }
}
.filter-section {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  gap: 1rem;
  justify-content: space-between;
  position: relative;
  padding: 1rem 2rem;
  box-shadow: 0px 10px 30px 0px hsla(180, 29%, 50%, 0.4);
}
.filter-section .filters {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  width: 100%;
}
.filter-section .title,
.filter-section .clear {
  display: flex;
  align-items: _;
  flex-direction: _;
  gap: _;
  justify-content: space-between;
}
.filter-section .title p,
.filter-section .clear p {
  border-radius: 0.25rem 0 0 0.25rem;
  padding: 0.5rem 0.75rem;
  background-color: hsl(180, 31%, 95%);
  color: hsl(180, 29%, 50%);
  font-weight: 700;
}
.filter-section .clear-btn {
  padding: 0.5rem 0.75rem;
  border: none;
  cursor: pointer;
  border-radius: 0 0.25rem 0.25rem 0;
  background-color: hsl(180, 29%, 50%);
  font-weight: 700;
  transition: all 0.3s linear;
  font-size: 1rem;
  color: hsl(0, 0%, 100%);
}
.filter-section .clear-btn:hover {
  color: #303b5a;
}

.select-filter {
  color: hsl(180, 29%, 50%);
  font-weight: 500;
  letter-spacing: 0.05rem;
}

@media screen and (min-width: 45rem) {
  .filter-section {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
  }
  .filter-section .filters {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    justify-content: start;
    width: 100%;
  }
}
.filter-info {
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}

@media screen and (min-width: 45rem) {
  .filter-dropdown-section {
    position: relative;
    width: 45%;
    max-width: 30rem;
  }
}
.my-profile {
  align-self: self-end;
  align-items: center;
  background-color: #303b5a;
  color: hsl(0, 0%, 100%);
  display: flex;
  font-size: 1rem;
  gap: 1.5rem;
  justify-content: center;
  padding: 0.75rem;
  text-align: center;
  width: 100%;
}

.my-profile > a {
  white-space: normal;
  cursor: pointer;
  color: hsl(39, 100%, 56%);
  text-decoration: none;
}

.my-profile-icons a {
  cursor: pointer;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  margin: 0 5px;
}

@media screen and (max-width: 45rem) {
  .my-profile {
    font-size: 1rem;
  }
  .my-profile-icons a:first-of-type,
  .my-profile-icons a:last-of-type {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
