//   /* general variables */
$shadow-1: 0 0 5px rgb(250, 234, 230);
$shadow-2: 0px 10px 30px 0px hsla(180, 29%, 50%, 0.4);
$transition: all 0.3s linear;
$transition-2: all 0.5s ease-in-out;
$line-1: 2px solid rgba(116, 108, 113, 0.5);
$line-2: 2px solid rgba(223, 81, 19, 0.5);
$line-3: 2px solid rgba(9, 145, 141, 0.5);

// colors
$White: hsl(0, 0%, 100%);
$Dark: #303b5a;
$Persian-blue: #2421ca00;
$black: #0f172a;
$bg-body: hsl(13, 100%, 96%);
$Light-Gray: hsl(0, 0%, 80%);
$Light-slate-blue: #7857ff;
$Light-red: hsl(0, 100%, 67%);
$Orangey-yellow: hsl(39, 100%, 56%);
$Green-teal: hsl(166, 100%, 37%);
$Light-lavender: hsl(241, 100%, 89%);

// this project variables

$Desaturated-Dark-Cyan: hsl(180, 29%, 50%);
$Light-Grayish-Cyan-Background: hsl(180, 52%, 96%);
$Light-Grayish-Cyan-Filter-Tablets: hsl(180, 31%, 95%);
$Dark-Grayish-Cyan: hsl(180, 8%, 52%);
$Very-Dark-Grayish-Cyan: hsl(180, 14%, 20%);
